span{
    color: black;
    padding: 10px;
}

strong{
    color:teal;
}

.mt-4{
    text-align: center;
}

.routes{
    display: inline-block;
}

.titulocart{
    font-size: 25px;
    color:grey;
}

.cantidad{
    color: chocolate;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}